{% extends 'pages/base.html' %}

{% block content %}
<div class="aluno-detail">
    <h2>Detalhes do Aluno</h2>
    <table>
        <tr>
            <th><i class="fa fa-user"></i> Usuário</th>
            <td>{{ aluno.username }}</td>
        </tr>
        <tr>
            <th>Nome Completo</th>
            <td>{{ aluno.full_name }}</td>
        </tr>
        <tr>
            <th>Matrícula</th>
            <td>{{ aluno.matricula }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ aluno.email }}</td>
        </tr>
        <tr>
            <th>Senha SEDUC</th>
            <td>{{ aluno.seduc }}</td>
        </tr>
        <tr>
            <th>CPF</th>
            <td>{{ aluno.cpf }}</td>
        </tr>
        <tr>
            <th>Série</th>
            <td>{{ aluno.serie }}° ano</td>
        </tr>
        <tr>
            <th>Telefone</th>
            <td>{{ aluno.telefone }}</td>
        </tr>
        <tr>
            <th>Nome da Mãe</th>
            <td>{{ aluno.mother_name }}</td>
        </tr>
        <tr>
            <th>Nome do Pai</th>
            <td>{{ aluno.father_name }}</td>
        </tr>
    </table>
</div>
{% endblock %}