{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Escola Cosme Rodrigues</title>
</head>
<body>
    <div class="main-title">
        <h1>Escola Cosme Rodrigues</h1>
    </div>
        <nav class="navbar">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'register' %}">Cadastrar</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
            </ul>
        </nav>
    {% block content %}

    {% endblock %}


</body>
</html>