{% extends 'pages/base.html' %}

{% block content %}
<div class="container">
    <div class="main-title">
        <h1>Escola Cosme Rodrigues</h1>
    </div>
    <section class="sobre_nos">
        <h2>Sobre Nós</h2>
        <p>Bem-vindo à Escola Pública Municipal de Carnaubal-CE, uma instituição dedicada ao desenvolvimento acadêmico e pessoal dos alunos do 8° e 9° ano. Nosso compromisso é proporcionar uma educação de qualidade, que prepare nossos estudantes para os desafios futuros e os ajude a alcançar seus sonhos.</p>
    </section>
    <section class="nossa_missao">
        <h2>Nossa Missão</h2>
        <p>Nossa missão é promover uma educação inclusiva, inovadora e transformadora, que valorize o potencial de cada aluno e incentive a cidadania ativa. Acreditamos que cada estudante tem talentos únicos e nos dedicamos a cultivar essas habilidades por meio de um ensino de excelência.</p>
    </section>
    <section class="visao">
        <h2>Visão</h2>
        <p>Ser referência em educação básica no município de Carnaubal, reconhecida pela qualidade do ensino e pelo impacto positivo na vida dos nossos alunos e na comunidade.</p>
    </section>
    <section class="valores">
        <h2>Valores</h2>
        <ul>
            <li><strong>Compromisso com a Educação:</strong> Acreditamos que a educação é a base para um futuro melhor e trabalhamos incansavelmente para oferecer o melhor ensino.</li>
            <li><strong>Inclusão e Respeito:</strong> Valorizamos a diversidade e promovemos um ambiente de respeito e inclusão para todos.</li>
            <li><strong>Inovação:</strong> Buscamos constantemente novas metodologias e tecnologias para enriquecer o processo de ensino-aprendizagem.</li>
            <li><strong>Parceria com a Comunidade:</strong> Envolvemos a comunidade escolar e as famílias no processo educativo, fortalecendo os laços que contribuem para o sucesso dos nossos alunos.</li>
        </ul>
    </section>
    <section class="nossa_estrutura">
        <h2>Nossa Estrutura</h2>
        <p>A Escola Pública Municipal de Carnaubal-CE conta com uma infraestrutura adequada para atender às necessidades dos alunos do 8° e 9° ano. Dispomos de salas de aula equipadas, biblioteca, laboratórios de ciências e informática, além de espaços para atividades esportivas e culturais.</p>
    </section>
    <section class="corpo_docente">
        <h2>Corpo Docente</h2>
        <p>Nosso corpo docente é composto por profissionais qualificados e dedicados, que estão sempre em busca de aperfeiçoamento para oferecer um ensino atualizado e de qualidade. Valorizamos a formação continuada dos nossos professores, entendendo que seu desenvolvimento reflete diretamente na aprendizagem dos nossos alunos.</p>
    </section>
    <section class="programas_projetos">
        <h2>Programas e Projetos</h2>
        <p>Oferecemos uma variedade de programas e projetos extracurriculares que visam complementar o currículo escolar e desenvolver habilidades socioemocionais. Entre eles, destacam-se os projetos de leitura, oficinas de arte, atividades esportivas e programas de educação ambiental.</p>
    </section>
    <section class="conecte">
        <h2>Conecte-se Conosco</h2>
        <p>Acompanhe nossas atividades e novidades através do nosso <a href="https://www.instagram.com/crsintegral_?igsh=bXpxZWQyZ2ZjcDhu" target="_blank">Instagram</a>. Junte-se a nós na missão de transformar vidas por meio da educação!</p>
    </section>
</div>
</div>
{% endblock %}