*{
padding:0;
margin:0;
box-sizing: border-box;
}

html{
font-size:62.5%
}

body{
background: rgb(2,0,36);
background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(0,155,255,1) 0%, rgba(255,255,255,1) 18%);
background-size: auto;
color: #000000;
font-family:Georgia, serif;
}

.main-content{
    padding-top:0;
}

.container{
    max-width:120rem;
    margin: 0 auto;
    padding: 3rem;
}

.navbar ul{
    list-style-type: none;
    background-color: gray;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.main-title h1{
    font-size: 40px;
    text-align: center;
    padding-top: 3rem;
}

.form-register h2{
    font-size: 40px;
    text-align: center;
    padding-top: 3rem;
}

.form-register label{
    font-size: 15px;
    padding-bottom : 6px;
    padding: 8px;
    font-weight: bold;
}

.form-register input{
    width: 100%;
    padding: 8px 15px;
    margin: 8px 0;
    box-sizing: border-box;
}

.form-register select{
    position: relative;
    font-family: Arial;
    background-color: gray;
    padding: 4px 10px;
    margin: 12px 0;
}

.login-form{
    font-size: 35px;
    padding-top: 200px;
    padding-right: 60px;
    padding-bottom: 100px;
    padding-left: 120px;
    margin: 25px 50px 75px 100px;
}

.login-form h2{
    font-size: 50px;
}

.aluno-detail{
    font-size: 30px;
}

.aluno-detail h2{
    font-size: 50px;
    text-align: center;
}

.aluno-detail p{
    padding:10px;
}

