*{
padding:0;
margin:0;
box-sizing: border-box;
}

html{
font-size:62.5%
}

body{
background: rgb(2,0,36);
background: linear-gradient(180deg, rgb(12, 3, 184) 0%, rgb(4, 116, 190) 0%, rgba(255,255,255,1) 18%);
background-size: auto;
color: #000000;
font-family: Arial, Helvetica, sans-serif;
margin: 0;
padding: 0;
font-size: 10px;
}

.main_content{
    padding-top:0;
}

.container{
    max-width:120rem;
    margin: 0 auto;
    padding: 3rem;
}

nav{
    background-color: rgb(255, 255, 255);
    color: black;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
    transition: all 0.3s ease;
}

.main-title h1{
    font-size: 40px;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.sobre_nos {
    padding: 10px;
}

.sobre_nos h2{
    font-size: 25px;
}

.sobre_nos p{
    font-size: 15px;
}

.nossa_missao {
    padding: 10px;
}

.nossa_missao h2{
    font-size: 25px;
}

.nossa_missao p{
    font-size: 15px;
}

.visao {
    padding: 10px;
}

.visao h2{
    font-size: 25px;
}

.visao p{
    font-size: 15px;
}

.valores {
    padding: 10px;
}

.valores h2{
    font-size: 25px;
}

.valores ul{
    font-size: 15px;
    padding: 10px;
}

.valores li {
    padding: 5px;
}

.nossa_estrutura {
    padding: 10px;
}

.nossa_estrutura h2{
    font-size: 25px;
}

.nossa_estrutura p{
    font-size: 15px;
}

.corpo_docente {
    padding: 10px;
}

.corpo_docente h2{
    font-size: 25px;
}

.corpo_docente p{
    font-size: 15px;
}

.programas_projetos {
    padding: 10px;
}

.programas_projetos h2{
    font-size: 25px;
}

.programas_projetos p{
    font-size: 15px;
}

.conecte {
    padding: 10px;
}

.conecte h2{
    font-size: 25px;
}

.conecte p{
    font-size: 15px;
}

.form-register h2{
    font-size: 40px;
    text-align: center;
    padding-top: 3rem;
}

.form-register label{
    font-size: 15px;
    padding-bottom : 6px;
    padding: 8px;
    font-weight: bold;
}

.form-register input{
    width: 100%;
    padding: 8px 15px;
    margin: 8px 0;
    box-sizing: border-box;
}

.form-register select{
    position: relative;
    font-family: Arial;
    background-color: gray;
    padding: 4px 10px;
    margin: 12px 0;
}

.login-form{
    font-size: 35px;
    padding-top: 200px;
    padding-right: 60px;
    padding-bottom: 100px;
    padding-left: 120px;
    margin: 25px 50px 75px 100px;
}

.login-form h2{
    font-size: 50px;
}

.aluno-detail{
    font-size: 30px;
}

.aluno-detail h2{
    font-size: 50px;
    text-align: center;
}

.aluno-detail p{
    padding:10px;
}

footer {
     background-color: #ccc;
     color: #333;
     padding: 25px;
     text-align: center;
}

footer p{
    font-size: 15px;
}